<!-- footer -->
<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
            <!-- 사이트 정보 -->
        <div class="col-md-6">
            <p class="mb-1">Spring Boot & Mustache 게시판 프로젝트</p>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
